@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import './base.css';

body {
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: relative;
  background-image: url('/Potatoesblurry.png');
  background-repeat: repeat;
  background-size: 100px;
  animation: move-bg 40s linear infinite;
}

@keyframes move-bg {
  from { background-position: 0 0; }
  to { background-position: 1000px 0; }
}

p {
  font-size: large;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

a {
  color: purple;
  font-weight: 900;
  text-decoration: none;
}

h1 {
  margin: 25px 0px 25px 0px;
}